<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="general-page">
    <nav class="navbar">
        <div class="nav-logo">
            <a href="/"><img src="/images/logo.png" alt="P & P Logo"></a>
        </div>        
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/product">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/checkout">View Cart (<%= cartLength %>)</a></li>
        </ul>
    </nav>
    <!-- About Us Section -->
    <div class="about-us-container">
        <!-- Title -->
        <h1 class="about-title">About Us</h1>

        <!-- Image Section -->
        <div class="about-image-container">
            <img src="/images/about.jpg" alt="About Us Image" class="about-image">
        </div>

        <!-- Text/Blurb Section -->
        <div class="about-text-container">
            <p class="about-blurb">
                We are a mom, two daughters, and two daughters-in-law who love to spend time creating things together. Back in the summer of 2022, we had a conversation about wanting to start making and selling jewelry. We started with Miyuki beaded bracelets that are the perfect, simple accessory. We are expanding our inventory to include other jewelry made of elements found from the coast and our other favorite places in the PNW. 
                <br><br>
                As we decided on a name for this business, we wanted to choose something that was unique to and significant for our family business. We were reminded of something our parents did while we were growing up. Because our last name is Pond, they would sign cards, “With love, Ponds & Puddles.” Turns out our Grandma and Great Grandma did this too. It’s neat to see how this nickname has been meaningful for many generations. Thanks for letting us share some of the things we love doing!
            </p>
        </div>
    </div>
</body>
</html>
