<!DOCTYPE html>
<html>
<head>
  <title>Add Product</title>
  <link rel="stylesheet" href="/product_styles.css">
  <style>
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #F9F9F9;
      font-size: 12px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="checkbox"], input[type="radio"] {
      width: auto;
      margin-right: 5px;
    }
    button {
      background-color: #c6a87d;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    button:hover {
      background-color: #c6a87d;
    }

    .main-content {
      margin-top: 60px;
    }
  </style>
</head>
<body class="main-content">
  <h1 style="text-align: center;">Add Product</h1>
  <form action="/addProduct" method="POST">
    <!-- Product Name -->
    <label for="productname">Product Name</label>
    <input type="text" id="productname" name="productname" required oninput="this.value = this.value.toLowerCase()">
    <!-- Product Type -->
    <label>Product Type</label>
    <label>
      <input type="radio" name="producttype" value="bracelet"> bracelet
    </label>
    <label>
      <input type="radio" name="producttype" value="earrings"> earrings
    </label>
    <!-- Price -->
    <label for="price">Price</label>
    <input type="number" id="price" name="price" required>
    <!-- Submit Button -->
    <button type="submit">Save Changes</button>
  </form>
</body>
</html>